---
import { Icon } from 'astro-icon';
---

<footer>
  <small>
    Copyright &copy; <span id="copyrihgt"></span> | All rihgt reserved
  </small>
  <small>
    <a href="/rss.xml"
      >Subscribe to RSS<Icon name="tabler:rss" width="20" height="20" /></a
    >
  </small>
</footer>

<script>
  document.querySelector('#copyrihgt').textContent = new Date()
    .getFullYear()
    .toString();
</script>
