---

---

<footer>
  <small>
    Copyright &copy; <span id="copyrihgt"></span> | All rihgt reserved
  </small>
</footer>

<script>
  document.querySelector('#copyrihgt').textContent = new Date()
    .getFullYear()
    .toString();
</script>
